.yui-b
  -box do
    -#
      %h3
        =:why_sign_up.l
      %ul.list.checks
      %li
        = :sign_up_reason_1.l
      %li
        = :sign_up_reason_2.l
    %p
      or login with Facebook connect
      = fb_login_button('window.location = "/users/link_user_accounts";')

#yui-main
  .yui-b.main_column
    -box do
      %h3
        =:log_in_to_site.l(:site => AppConfig.community_name)
      - form_tag sessions_path, :class => 'MainForm' do
        %label{"for"=>"email"}=:email.l
        = text_field_tag 'login', nil, :size => 35
        %label{"for"=>"password"}=:password.l
        = password_field_tag 'password', nil, :size => 35
        %fieldset
          %label{"for"=>"remember_me"}
            =:remember_me.l
            = check_box_tag 'remember_me'
        %p
          = submit_tag :log_in.l
        %p
          %h3=:help.l
          %p
            = link_to "&raquo; " + :dont_have_an_account.l, "/signup"
            %br/
            = link_to "&raquo; " + :forgot_your_password.l, forgot_password_url
            -#
              %br/
              = link_to "&raquo; " + :forgot_your_username.l, forgot_username_url
