.yui-b.sidebar
  = render :partial => 'shared/admin_nav'

#yui-main

  -box :class => "yui-b" do
    %h3= :statistics.l
    = ziya_chart( activities_chart_statistics_url(:range => params[:range]), {:bgcolor => '#ffffff', :width => 600, :height => 400, :id => "Activities", :swf_path => "/plugin_assets/community_engine/charts/"} )

  -box :class => "yui-b" do
    %h3= :site_activity.l

    -unless @network_activity.empty?
      -box :class => "fresh" do
        =render :partial => "activities/activity", :collection => @network_activity
        = link_to :view_all_site_activity.l, admin_activity_path