.form-1.form-user-edit
  - form_tag company_representative_url(@representative.company, @representative), :method => 'put', :multipart =>true, :class => 'MainForm' do
    .yui-b.form-1-alt
      -box :id => "profile_details" do
        %h3.h3.u=:profile_photo.l
        %p.Fe.Fef
          = image_tag(@representative.user.avatar_photo_url(:medium), :class => "polaroid" )
          %label
            =:choose_a_photo_for_your_profile.l
          = file_field :avatar, :uploaded_data, :size => "20"

        %p.Fe
          %label{"for"=>"representative_title"}
            = "#{:representative_title.l} #{:representative_title_at.l(:company_name => @representative.company)}"
          = text_field :representative, :title

        %p.Fe
          %label{"for"=>"representative_linked_in_url"}
            =:representative_linked_in_url.l
          = text_field :representative, :linked_in_url

    #yui-main
      .yui-b
        -box :class => "alt first_alt" do
          %h3.h3.u= :about_me.l
          %p.nav-mini-link
            = link_to :edit_your_account_settings_instead.l, edit_account_user_path(@representative.user)

        = error_messages_for :user

        -box do
          %p.Fe.Fet
            = text_area :representative, :description, :rows => 4, :style => "width:95%"

        %p.Fb
          = submit_tag :save_changes.l, :class => 'button1'
        .hr
