<p>Hello <%= @user.first_name %>,</p>

<p><%= @commenter %> has responded to you on your conversation, <%= @post.title %>:</p>

<p><%= @comment.comment.strip_html %></p>

<p>Respond by clicking here:</p>

<p><%= @url %></p>

<p>We recommend responding to a handful of the most thoughtful responses to show that you're listening.</p>

<p>Some stats for this conversation: <%= @post.view_count %> viewed it, <%= @post.comments_count %> responses left so far.</p>

<p>Thanks for joining in,
  <br/>
Your friends at Companiesandme</p>