<p>Hello <%= @user %>,</p>

<p><%= @post.user %> just posted a new conversation from <%= @company %>.</p>

<p><%= @post.title %></p>
<p><%= @post.plaintext_post.truncate_words(50) %></p>

<p>What do you think? Click to see the whole post and join the conversation:</p>

<p><%= @url %></p>

<p>------------------------------------------------------------------
Thanks for joining in,
Your friends at Companiesandme</p>