<p>Hello <%= @user.first_name %>,</p>

<p><%= @comment.user %> responded to the conversation you joined with <%= Company.for_comment(@comment) %>.</p>

<p><%= @comment.comment.strip_html %></p>

<p>Like it, or have something to say?</p>

<p><%= @url %></p>

<p>------------------------------------------------------------------
  <br/>
Thanks for joining in,
  <br/>
Your friends at Companiesandme</p>