<p>Hey <%= @user %>!</p>

<p><%= @comment.username %> has added a comment to the "<%= @post.title %>" conversation
that you're following. Use this link to check it out:</p>

<p><%= @url %></p>

<p>Thanks,
  <br/>
The <%= AppConfig.community_name %> team</p>