<p>Hi there!</p>

<p>You asked us to remind you of your <%= AppConfig.community_name %> username.</p>

<p>Your username is: <%= @user %>.</p>

<p>If you have any questions, or you think this reminder was sent in error, please contact <%= AppConfig.community_name %> support at <%= AppConfig.support_email %>.</p>

<p>Thanks,
The <%= AppConfig.community_name %> team
</p>