.yui-b.sidebar
  -box do
    %h3=:links.l
    %ul.checks
      %li= link_to :new_representative_invitation.l(:company_name => @company), new_company_representative_invitation_path(@company)

#yui-main
  .yui-b
    -box do
      %h3= :listing_representative_invitations.l

      = will_paginate @invitations

      %table{:border => 0, :width => '100%'}
        %thead
          %tr
            %th=:date_created.l
            %th=:accepted_invitation_representatives.l
            %th=:invitations_pending.l
        %tbody
          - @invitations.each do |invitation|
            %tr
              %td{:valign => 'top'}
                %abbr{:title=>"#{invitation.created_at}"}= invitation.created_at.strftime("%b %d, %Y")
              %td{:valign => 'top'}
                - invitation.accepted_users.each do |u|
                  = link_to u, user_path(u)
                  %br/
              %td{:valign => 'top'}
                - invitation.pending_emails.each do |email|
                  = mail_to email
                  %br/
