- @section = 'my_profile'

=render :partial => "users/dashboard_nav"
  
#yui-main
  .yui-b
    -box do 
      %h3= :activity_from_your_network.l
      -unless @network_activity.empty?
        -box :class => "fresh" do
          =render :partial => "activities/activity", :collection => @network_activity
          %h6.all= link_to :see_all_activity.l, following_user_activities_path(current_user)
      - else
        =:you_have_no_network_activity_yet.l
        = :get_activity_instructions.l

      -#
        -unless @recommended_posts.empty?
          %h3=:recommended_posts.l
          #posts
            %ul
              -@recommended_posts.each do |post|
                %li
                  = link_to( "#{post.photo(:small)} #{truncate(post.display_title, :length => 75)} <span class='post_excerpt'>#{ truncate_words(post.post, 35, '...' )} (:by.l #{post.user.login})</span>", post_path(post), :title => ":by.l #{post.user.login}" )
