.form-1.form-user-edit
  - form_tag user_url(@user), :method => 'put', :multipart =>true, :class => 'MainForm' do
    .yui-b.form-1-alt
      -box :id => "profile_details" do
        %h3.h3.u=:profile_photo.l
        %p.Fe.Fef
          = image_tag( @user.avatar_photo_url(:medium), :class => "polaroid" )
          %label
            =:choose_a_photo_for_your_profile.l
          = file_field :avatar, :uploaded_data, :size => "20"
        
    #yui-main
      .yui-b
        -box :class => "alt first_alt" do 
          %h3.h3.u= "Edit Your Profile"
          %p.nav-mini-link
            = link_to :edit_your_account_settings_instead.l, edit_account_user_path(@user)
        
        = error_messages_for :user

        -# DJS
          %p= submit_tag :save_changes.l
            
        -box do 
          %h3.h3=:about_me.l
          %p.Fe.Fet
            = text_area :user, :description, :rows => 4

          %h3.h3= :location.l
          %p.Fe.Fes
            = render :partial => 'shared/location_chooser', :locals => {:selected_country => @user.country_id, :selected_state => @user.state_id, :selected_metro_area => @user.metro_area_id, :states => @states, :metro_areas => @metro_areas}

        -#
          DJS
          -box :class => "alt" do
            =:tips.l
            = render :partial => 'shared/bio_help'
            =:feel_free_to_embed_images_or_videos.l + "("
            %a{"href"=>"/faq#images_and_flash", "target"=>"new"}
              =:how_do_i_do_that.l
            )

        /- if @user.vendor?
        -# DJS = render :partial => 'offerings/chooser'
        -#
          DJS
          -box do
            %h3= :tags.l
            #user_tags
              = text_field_tag 'tag_list', @user.tag_list, {:autocomplete => "off"}
              #tag_list_auto_complete.auto_complete
              = auto_complete_field 'tag_list', {:url => { :controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [','] }

              %label
                %em
                  =:you_could_tag_yourself.l
                  - if @user.vendor?
                    =:custom_friendly_local.l
                  - else
                    = AppConfig.meta_keywords.split(",")[0..3].join(", ")
                  %br
                  =:tags_are_comma_separated_keywords_that_describe_you.l
                  %br
                  =:you_can_browse_all_content_and_users_on.l
                  = AppConfig.community_name
                  =:by_looking_at_the.l
                  = link_to :tags_page.l, tags_path

        %p.Fb
          = submit_tag :save_changes.l, :class => 'button1'
        .hr


