- form_tag update_account_user_url(@user), :method => 'put', :class => "MainForm", :multipart => true do

  -box :class => "alt first_alt" do 

    %h3=:you_are_editing_your_account.l
    = link_to :edit_your_user_profile.l, edit_user_path(@user)

  #yui-main
    -box :class => "yui-b" do

      = error_messages_for :user

      %h3=:username.l
      = text_field :user, :login, :size => "28"

      %h3=:e_mail_address.l
      = text_field :user, :email, :size => "28"

      %h3=:password.l
      = password_field :user, :password, :size => "28"

      %label=:confirm_password.l
      = password_field :user, :password_confirmation, :size => "28"

      %p= submit_tag :save_changes.l