- @meta = { :description => "#{@user}'s profile on #{AppConfig.community_name}.", :keywords => "#{@user}, #{@user.tags.join(", ") unless @user.tags.nil?}", :robots => AppConfig.robots_meta_show_content }
- @section = @user.eql?(current_user) ? 'my_profile' : 'users'
- @sidebar_left = true

.yui-b
  = render :partial => 'profile_user_info_sidebar', :locals => {:user => @user}
  = render :partial => 'followed_companies', :locals => {:user => @user, :companies => @companies}

#yui-main
  .yui-b

    - unless @recent_posts_in_followed_companies.empty?
      -box :id => "posts" do
        %h3.alt.hd-txt
          %span.ico-sunrise.recent-coversations
            %i
            %b= "Recent Followed Coversations"
        = render :partial => 'posts/posts', :locals => { :posts => @recent_posts_in_followed_companies }
      
      -#
        %p.but-wrap1= link_to "Next Page", "#", :class => "button1"
        
    - unless @recent_comments.empty?
      -box :id => "comments" do
        %h3.alt.hd-txt
          %span.ico-discuss.recent-responses
            %i
            %b= "Recent Responses"
        = render :partial => 'comments/comments', :locals => { :comments => @recent_comments }
      
      -#
        %p.but-wrap1= link_to "Next Page", "#", :class => "button1"

