.yui-b
  - if @user.avatar_photo_url
    -box :class => "alt" do 
      %h3=:your_profile_photo.l
      .centered
        = @user.vendor ? "<div class='right_corner'><div class='community_pro'></div></div>" : ''
        = image_tag( @user.avatar_photo_url(:medium), :class => "polaroid", :style=>"width:250px" )
      =link_to :profile_photo_crop.l, crop_profile_photo_user_path(@user)        

- next_url = back_or_default_url(user_path(@user))

#yui-main
  -box :class => "yui-b" do
    - form_tag user_path(@user, :return_to => next_url), :method => 'put', :multipart =>true, :class => "MainForm" do
      %h3=:about_you.l
      = text_area :user, :description, :rows => 4, :style => 'width:95%'
          
      - if @user.vendor?
        %p= render :partial => 'offerings/chooser'
      
      -#
        %h3=:more_about_you.l
        .yui-g
          .yui-u.first
            -box :class => "alt" do
              %h3
                =:choose_your_location.l
              %br
              =:postal_code.l
              %br
              = text_field :user, :zip, :size => 10
              %br
              %br
              = render :partial => 'shared/location_chooser', :locals => {:selected_country => @user.country_id, :selected_state => @user.state_id, :selected_metro_area => @user.metro_area_id, :states => @states, :metro_areas => @metro_areas}
          .yui-u

      %p
        =submit_tag :save.l
        or
        = link_to "&raquo; "+  :skip_this_and_go_to_companies_and_me.l, next_url

