.yui-b
  -box do
    %h3=:dashboard.l
    .yui-g
      .yui-u.first
        = image_tag 'icons/wrench.png', :plugin => 'community_engine'
        =:manage.l
        %ul
          %li= link_to_unless_current :admin_dashboard.l, admin_dashboard_path
          %li= link_to_unless_current :site_activity.l, admin_activity_path
          %li= link_to_unless_current :comments.l, admin_comments_path
          %li= link_to_unless_current :companies.l, admin_companies_path