.yui-b
  -box do
    %h3.h3.u= "Admin Actions"
    .yui-g
      .yui-u.first
        %ul
          %li= link_to_unless_current "Admin Dashboard", admin_dashboard_path
          %li= link_to_unless_current "Site Activity", admin_activity_path
          %li= link_to_unless_current "Add new company", new_company_path
          %li= link_to_unless_current "Manage Companies", admin_companies_path
          %li= link_to_unless_current "Manage Users", admin_users_path
          %li= link_to_unless_current "Manage comments", admin_comments_path

