- user = follower.user

.yui-gf.row
  .yui-u.first.centered= image_tag( user.avatar_photo_url(:small), :class => "polaroid" )
  .yui-g
    .yui-u.first
      %h2= link_to h(user), user_path(user)
      = "from #{user.location}<br/>" if user.metro_area      
      -# DJS = friendship.friendship_status.name ? :accepted.l : :denied.l

      =:followed.l
      \:
      = time_ago_in_words follower.created_at

    -# DJS .yui-u= friendship_control_links(friendship) if @is_current_user
