.yui-b
  -#box do 
    %h3=:dashboard.l
    .yui-g
      .yui-u.first
        = image_tag 'icons/accept.png', :plugin => 'community_engine'            
        =:view.l
        %ul
          %li=link_to :company_profile.l, company_path(@company)
          %li=link_to :view_company_blog.l, company_posts_path(@company)
          %li=link_to :view_company_conversation_comments.l, post_comments_company_path(@company)
          %li=link_to :view_company_representative_comments.l, representative_comments_company_path(@company)
          -# DJS %li=link_to :blog.l, user_posts_path(@user)
          -#
            DJS
            %li=link_to :photo_manager.l, user_photo_manager_index_path(@user)
            %li=link_to :clippings.l, user_clippings_path(@user)
            %li=link_to :friends.l, accepted_user_friendships_path(@user)
            %li=link_to :inbox.l, user_messages_path(@user)
      .yui-u
        = image_tag 'icons/wrench.png', :plugin => 'community_engine'      
        =:manage.l
        %ul
          - if(@company.admin?(current_user))
            %li=link_to :edit_company.l, edit_company_path(@company)
          - if(@company.invite?(current_user))
            %li= link_to :listing_representative_invitations.l(:company_name => @company), company_representative_invitations_path(@company)
          - if(@company.post?(current_user))
            %li= link_to :company_posts.l, manage_company_posts_path(@company)
          -# DJS %li=link_to :account_settings.l, edit_account_company_path(@company)
          -# DJS TODO %li=link_to :blog_posts.l, manage_company_posts_path(@company)
          -#
            DJS TODO
            -if current_representative.admin?
              %li=link_to :admin_dashboard.l, admin_dashboard_path
               
  
  -box :class => "alt" do 
    %h3.h3.u=:stats.l
    .box2.box-dashboard-stats
      %ul
        -# DJS REMOVE %li=:you_last_logged_in_on.l+" #{@company.last_login_at && @company.last_login_at.strftime("%m/%d/%y")}"
        %li= "#{:registered_on.l}: #{@company.created_at.to_s(:concise)}"
        -unless @company.posts.empty?
          %li=:there_are_company_posts.l(:count => @company.posts.count)
        -#
          DJS
          -unless @company.photos.empty?
            %li=:you_have_uploaded.l+" #{@company.photos.count} "+:photos.l+"."
          -unless @company.clippings.empty?
            %li=:you_have_created.l+" #{@company.clippings.count} "+:clippings.l+"."
        -unless @company.representative_comments.empty?
          %li= :there_are_representative_comments.l(:count => @company.representative_comments.count)
        -unless @company.post_comments.empty?
          %li= :there_are_company_comments.l(:count => @company.post_comments.count)
        -unless @company.followers.empty?
          %li= :there_are_company_followers.l(:count => @company.followers.count)
        -unless @company.view_count <= 0
          %li= :there_are_profile_views.l(:count => @company.view_count)
        -#
          DJS
          -unless @company.accepted_friendships.empty?
            %li=:you_have.l+" #{pluralize @company.accepted_friendships.count, :friend.l}."
