.yui-b
  %h3.alt.hd-txt
    %span.ico-sunrise.new-companies
      %i
      %b= "New Companies"
  -box :class => "box2" do
    = render :partial => "records_new_companies", :locals => { :companies => recent_companies }
  %p.but-wrap1= link_to "See All", recent_companies_path, :class => "button1"

-#
  / -box do
  /  %h3= :explore_site.l :site => AppConfig.community_name

  %br

  %h3.alt= :popular_posts.l
  -box :class => "alt" do
    -@popular_posts.each do |post|
      =render :partial => "posts/sidebar_post", :locals => { :post => post }

  %h3.alt= :active_users.l
  -box :class => "alt" do
    -@active_users.each do |user|
      =render :partial => "users/sidebar_user", :locals => {:user => user}

