.box-c-company-profile-short
  -box :class => 'box3', :id => 'profile_details' do
    %p.photo
      = link_to image_tag( @company.logo_photo_url(:large), :class => "polaroid"), company_path(@company) 
    %h3.name
      = link_to @company.name, company_path(@company)
      - if logged_in? and @company.admin?(current_user)
        %small
          = "(#{link_to(:manage.l, dashboard_company_path(@company))})"
    - if @company.description
      %p.description
        = @company.description
    %p.url
      = @company.url
    .hr
    %p.location
      = @company.full_location
    %p.follow-link
      = render :partial => 'followings/follow_link', :locals => {:followee => @company}


-#
  -#
    -#
      DJS
      - if current_company and current_company.can_request_friendship_with(@company)
        = add_friend_link(@company)

    %h3=:company_details.l
    .vcard.author
      %ul
        -if @company.url
          %li.url
            = :company_url.l
            = link_to @company.url, @company.url
        -#%li.update
          %a{:href=>"#{company_path(@company)}", :rel=>"bookmark"}
            %abbr.published{:title=>"#{@company.created_at}"}
              = :registered_on.l + @company.created_at.strftime(": %m/%d/%y")
        -#%li.view
          =:profile_views.l
          = "(#{@company.view_count})"
        -#
          DJS
          - if @company.offerings.any?
            %li.skills= :my_skills.l+": #{@company.offerings.collect{|o| link_to o.skill.name, skill_url(o.skill) }.join(', ')}"
          - if @company.tags.any?
            %li.tags= :my_tags.l+": #{@company.tags.collect{|t| link_to t.name, tag_url(t) }.join(", ")}"
        - if @company.metro_area
          %li.geo= @company.full_location

        =render :partial => 'followings/follow_link', :locals => {:followee => company}
    .clear


