- @section = 'my_profile'

=render :partial => "companies/dashboard_nav"
  
#yui-main

  .yui-b
    -box do
      %h3.h3.u
        = link_to @company, company_path(@company)
        Company Dashboard
      %ul.dashboard_actions
        %li.highlight= link_to :new_post.l, new_company_post_path(@company)
        %li= link_to :manage_posts.l, manage_company_posts_path(@company)
        %li= link_to "Manage Comments <small>on our conversations</small>", post_comments_company_path(@company)
        %li= link_to :manage_company_page.l, edit_company_path(@company)
        %li= link_to :manage_representatives.l, company_representative_invitations_path(@company)
        %li= link_to "Manage Comments <small>from our representatives</small>", representative_comments_company_path(@company)

  .yui-b
    -box do
      - unless @network_activity.empty?
        %h3.h3.u= "Recent Company Activity"
        -box :class => "fresh" do
          = render :partial => "activities/activities", :locals => {:activities => @network_activity}
          %p.but-wrap1= link_to "Next Page", activity_company_path(@company), :class => "button1"

