- @section = (params[:metro_area_id] ? 'metro_area' : 'companies')
-#
  .yui-b
    = render :partial => 'companies/search_options'

#yui-main
  .yui-b
    %h3.alt.hd-txt
      %span.ico-heart.recently-popular
        %i
        %b= "Recently Popular"
    -box do
      = render :partial => "records_recently_popular", :locals => { :companies => @popular_companies }
    -# TODO: Add link
    %p.but-wrap1
      = link_to "Prev. Page", "#", :class => "button1 FlLeft"
      = link_to "Next Page", "#", :class => "button1"

= render :partial => 'explore'



-# #yui-main
  .yui-b
    -box :class => "company_list" do
      / %h3=:companies.l :site => AppConfig.community_name

      = will_paginate @companies
      /.pagination= paginating_links @companies, :params => params if @companies.page_count > 1

      / %br.clear

      = render :partial => "companies/company", :collection => @companies

      %br.clear
      = will_paginate @companies
      /.pagination= paginating_links @companies, :params => params if @companies.page_count > 1


