.yui-b
  -box do
    = render :partial => 'profile_company_info_sidebar', :locals => {:company => @company}

  - if @company.description
    -box :id => "about_me" do
      %h3
        =:about_company.l
      %p= @company.description

#yui-main
  %br
  .yui-b
    -box :class => "posts hfeed" do
      %h3
        = :posts.l + " -"
        = link_to @company, company_path(@company)

      - if @posts.empty?
        #emptycomments= :no_posts_found.l(:type => "company")
      - else
        = render :partial => 'posts/post', :collection => @posts

      .pagination= will_paginate @posts
