- @sidebar_left = true

.yui-b
  = render :partial => 'profile_company_info_sidebar', :locals => {:company => @company}
  = render :partial => 'users_participating', :locals => {:company => @company}

#yui-main
  .yui-b

    - unless @recent_posts.empty?
      -box :id => "posts" do
        %h3.alt.hd-txt
          %span.ico-sunrise.recent-coversations
            %i
            %b= "Recent Coversations"
        = render :partial => 'posts/posts', :locals => { :posts => @recent_posts }
      
      -# TODO: Make real pagination here
      %p.but-wrap1= link_to "Next Page", "#", :class => "button1"
        
    - unless @post_comments.empty?
      -box :id => "comments" do
        %h3.alt.hd-txt
          %span.ico-discuss.recent-responses
            %i
            %b= "Recent Responses"
        = render :partial => 'comments/comments', :locals => { :comments => @post_comments }
      
      -# TODO: Make real pagination here
      %p.but-wrap1= link_to "Next Page", "#", :class => "button1"

    - if @recent_posts.empty? and @post_comments.empty?
      -box :id => 'posts' do
        %h3.alt.hd-txt
          %span.ico-sunrise.recent-coversations
            %i
            %b= "Recent Coversations"
        %p We're working on our first conversation. Follow us to hear first when it's ready.

%script{:type=>"text/javascript", :charset=>"utf-8"}
  = remote_function :url => update_views_company_path(@company), :method => :put
