<p>Welcome to <%= AppConfig.community_name %>, <%= @representative %>!</p>

<p>Your account has been created, but you still need to activate it before you can log in.
Here's the skinny:</p>

<p>Your email: <%= @representative.email %></p>

<p>Use this link to activate your account:</p>

<p><%= @url %></p>

<p>Can't click the link? Just copy and paste it into your address bar.</p>

<p>Questions? Easy: <%= AppConfig.support_email %>.</p>

<p>Hope to see you hanging out on <%= AppConfig.community_name %> really soon!
The <%= AppConfig.community_name %> team</p>