<p>Hello,</p>

<p><%= @user %> (<%= @user.email %>) has just invited you to join Companiesandme as a representative of <%= @company %>.</p>

<p><%= @message %></p>

<p>Companiesandme is a place dedicated to building authentic relationships and strong brand loyalty with local audiences by connecting users to the passion, people and stories behind your brand.</p>

<p>Visit this link to create your profile:</p>

<p><%= @url %></p>

<p>Thanks for joining in,
  <br/>
Your friends at Companiesandme</p>