.box-c-company-profile-short
  %h3.alt.hd-txt
    %span.company
      %i
      %b= "Company"
  -box :class => 'box3', :id => 'profile_details' do
    %p.photo
      = image_tag( @company.logo_photo_url(:medium), :class => "polaroid") 
    %h3.name
      = link_to @company.name, company_path(@company)
    - if @company.description
      %p.description
        = @company.description
    .hr
    %p.follow-link
      = render :partial => 'followings/follow_link', :locals => {:followee => @company}
