-box :class => 'alt' do
  %h3=:company.l
  %dl.vcard
    %dt.photo
      = link_to image_tag(company.logo_photo_url(:small), "alt"=>"#{h(company)}" ), company_path(company), :title => h(company)
    %dd.fn
      = link_to h(company), company_path(company), :class => 'url'
    %dd
    - if company.description
      = truncate_words( company.description, 12, '...')
    %dd.member
      =company.created_at.strftime(:registered_on.l + ": %m/%d/%y")
    %dd.post
      - if company.posts.count == 1
        = link_to :singular_posts.l(:count => company.posts.count), posts_company_path(company)
      - else
        = link_to :plural_posts.l(:count => company.posts.count), posts_company_path(company)
    %dd.rss
      =link_to :rss_feed.l, posts_company_path(company, :format => :rss)    
