- if feature_image
  - if !feature_image.valid?
    = error_messages_for 'feature_image'
  - else
    = image_tag(feature_image.public_filename(:medium))

- form_for (feature_image || FeatureImage.new), :url => (feature_image ? feature_image_path(feature_image, :format => :js) : feature_images_path(:format => :js)), :html => { :multipart => true, :target => 'feature_image_upload_frame' } do |f|
  = f.label :uploaded_data, feature_image ? 'Replace this feature image' : 'Upload the feature image for your post'
  = f.file_field :uploaded_data, :size => "15"
  = submit_tag 'Upload'

-# http://khamsouk.souvanlasy.com/articles/ajax_file_uploads_in_rails_using_attachment_fu_and_responds_to_parent
%iframe#feature_image_upload_frame{ :name => 'feature_image_upload_frame', :style => "width:1px;height:1px;border:0px", :src => "about:blank" }
