.hentry
  %h4.entry-title{:id=>"post_#{ post.id}"}
    = link_to post.title, post_path(post), :rel => 'bookmark'

  .vcard.author
    - representative = Representative.for_user(post.user)
    .mugshot
      = link_to image_tag(representative.avatar_photo_url(:small), :height => '60', :width => '60', :alt => "#{h(representative)}"), representative_path(representative), :rel => 'bookmark', :class => 'photo', :title => "#{h(representative)}'s profile"
    %h5
      %a{:href=>"#{post_path(post)}", :class=>"photo", :rel=>"bookmark"}
        =image_tag(post.photo(:medium), :alt=>"", :width=>"189", :height=>"142")

    %ul
      %li.fn=link_to h(post.user), user_path(post.user)
      %li.update
        %a{:href=>"#{post_path(post)}", :rel=>"bookmark"}
          %abbr.published{:title=>"#{post.published_at}"}= post.published_at_display("%B %d, %Y")
      %li.view
        = :views.l
        = "(#{post.view_count})"
      %li.comments
        = link_to :comments.l+" (#{post.comments.count})", post_path(post)+'#comments'
      =render :partial => 'followings/follow_link', :locals => {:followee => post}
      
      -#
        DJS
        - if current_user and current_user.can_request_friendship_with(post.user)
          %li.addfriend= add_friend_link(post.user)

  .entry-content
    = truncate_words(post.post, 75, '...' )
    
    = render :partial => 'polls/excerpt', :locals => {:poll => post.poll} if post.poll
    
    %h6=link_to :read_more.l, post_path(post), :rel=> 'bookmark'
