.entry
  .photo
    = link_to image_tag(post.photo(:small), :alt=>""), post_path(post)
  .title
    = link_to post.title, post_path(post), :rel => 'bookmark'
  .comments
    = post.comments_count
  .company
    - company = Company.for_post(post)
    -#= render :partial => 'followings/follow_link', :locals => {:followee => company }
    %p.details
      %span.button-follow
        = render :partial => 'followings/follow_link', :locals => {:followee => company }
      %span.name
        = link_to company.name, company_path(company)
