%dl.vcard
  %dt.photo
    = link_to image_tag(post.photo(:small), :alt=>""), post_path(post)
  %dd.fn
    = link_to post.title, post_path(post), :rel => 'bookmark'
  %dd
    = "#{post.comments_count} comments"
    = "#{post.view_count} views"