.yui-b.sidebar
  -box do 
    %h3=:links.l
    %ul.checks
      %li=link_to :view_my_blog.l, user_posts_path(current_user)
      %li=link_to :new_post.l, new_company_post_path(@company)

#yui-main
  .yui-b
    -box do 
      %h3 
        =:manage_posts.l
      %p=:posts_saved_with_draft_status_wont_appear_in_your_blog_until_you_publish_them.l

      %table{:border => 0, :width => '100%'}
        %thead
          %tr
            %th=:created.l
            %th=:published.l            
            %th=:title.l
            %th=:author.l
            -#%th=:comments.l
            %th=:status.l
        %tbody
          - @posts.each do |post|
            %tr            
              %td
                %abbr{:title=>"#{post.created_at}"}= post.created_at.to_s(:concise)
              %td
                %abbr{:title=>"#{post.published_at}"}
                  - if post.is_live?
                    = post.published_at.to_s(:concise)
                  - else
                    = :draft.l
              %td
                = link_to post.title, edit_company_post_path(@company, post)
              %td= post.user
              -#%td= post.comments_count
              %td
                - if post.is_live?
                  = :published.l
                  = "(#{link_to(:view.l, post_path(post))})"
                - else
                  = :draft.l
                  = "(#{link_to(:preview.l, post_path(post), :target => '_blank')})"

      .pagination= will_paginate @posts