.yui-b.sidebar
  -# box do 
    %h3=:links.l
    %ul.checks
      %li= link_to :back_to_company_dashboard.l, dashboard_company_path(@company)
      %li=link_to :new_post.l, new_company_post_path(@company)

#yui-main
  .yui-b
    -box do 
      %h3.h3.u= "Manage Conversations"
      %p.nav-mini-link= link_to "Go back to Company Dashboard", dashboard_company_path(@company)
      %p.but-wrap1.shift= link_to "Post New", new_company_post_path(@company), :class => "button1"

      %table.table1{:border => 0, :width => '100%'}
        %thead
          %tr
            %th=:created.l
            %th=:published.l            
            %th=:title.l
            %th=:author.l
            -#%th=:comments.l
            %th
              =:status.l
              *
        %tbody
          - @posts.each do |post|
            %tr            
              %td
                %abbr{:title=>"#{post.created_at}"}= post.created_at.to_s(:concise)
              %td
                %abbr{:title=>"#{post.published_at}"}
                  - if post.is_live?
                    = post.published_at.to_s(:concise)
                  - else
                    = :draft.l
              %td
                = link_to post.title, edit_company_post_path(@company, post)
              %td= post.user
              -#%td= post.comments_count
              %td
                - if post.is_live?
                  = :published.l
                  = "(#{link_to(:view.l, post_path(post))})"
                - else
                  = :draft.l
                  = "(#{link_to(:preview.l, post_path(post), :target => '_blank')})"

      .pagination= will_paginate @posts
      %p.mini-text= "* Drafts won't appear anywhere until you publish them."

