- @sidebar_right = true
- @section = 'posts'
- @meta = { :description => AppConfig.meta_description, :keywords => AppConfig.meta_keywords, :robots => AppConfig.robots_meta_list_content }

- content_for :header_callout do
  #HeaderCallout
    #HeaderPhotos

- content_for :subnav do
  = render :partial => 'subnav'

#yui-main
  .yui-b
    -box :class => "hfeed" do
      %h3.alt.hd-txt
        %span.ico-heart.most-discussed
          %i
          %b= :most_commented_posts.l
      = render :partial => 'posts/posts', :locals => { :posts => @posts }
    %p.but-wrap1
      = will_paginate @posts

= render :partial => 'explore_from_discussed'
