- @section = (@post.category && @post.category.name)
- @meta = { :title => "#{@post.title}", :description => "#{truncate_words(@post.post, 75, '...' )}", :robots => AppConfig.robots_meta_show_content }

#yui-main
  .yui-b.box-c-post-show
    -box :class => 'hfeed' do
      .hentry.main
        %h4.entry-title
          -# = link_to @post.title, post_path(@post), :rel => 'bookmark'
          = @post.title
        .details
          %p.posted
            = "Posted #{time_ago_in_words(@post.published_at)}" if @post.is_live?
          %p.comments
            = link_to @post.comments_count,'#comments'

        -# .vcard.author
          = image_tag(@post.photo(:medium), :alt=>"", :width=>"190", :height=>"140")
          %ul
            %li.update
              %a{"href"=>"#{post_path(@post)}", "rel"=>"bookmark"}
                %abbr.published{"title"=>"#{@post.published_at}"}= @post.published_at_display("%B %d, %Y")
            =render :partial => 'followings/follow_link', :locals => {:followee => @company}
            %li.view= :views.l+" (#{@post.view_count})"
            %li.comments= link_to :comments.l+" (#{@post.comments.size})", post_path(@post)+'#comments'
            -# =render :partial => 'followings/follow_link', :locals => {:followee => @post}
            %li
              -# http://www.facebook.com/facebook-widgets/share.php
              %a{:name => "fb_share", :type => "button_count", :href => "http://www.facebook.com/sharer.php"} Share
              %script{:type => "text/javascript", :src => "http://static.ak.fbcdn.net/connect.php/js/FB.Share"}
            %li
              -# http://help.tweetmeme.com/2009/04/06/tweetmeme-button/
              %script{:type => "text/javascript"}
                tweetmeme_service = 'bit.ly';
                tweetmeme_style = 'compact';
              %script{:type => "text/javascript", :src => "http://tweetmeme.com/i/scripts/button.js"}


        .hr
        .entry-content
          = image_tag(@post.photo(:large), :alt=>"")
          = @post.post
        .social-buttons
          %p.follow-link
            = render :partial => 'followings/follow_link', :locals => {:followee => @post}
          %p
            -# http://www.facebook.com/facebook-widgets/share.php
            %a{:name => "fb_share", :type => "button_count", :href => "http://www.facebook.com/sharer.php"} Share
            %script{:type => "text/javascript", :src => "http://static.ak.fbcdn.net/connect.php/js/FB.Share"}

            -# http://help.tweetmeme.com/2009/04/06/tweetmeme-button/
            %script{:type => "text/javascript"}
              tweetmeme_service = 'bit.ly';
              tweetmeme_style = 'compact';
            %script{:type => "text/javascript", :src => "http://tweetmeme.com/i/scripts/button.js"}

    -box :class => 'hfeed comments', :id => 'comments' do      
      %h3.alt.hd-txt
        %span.responses
          %i
          %b= "Responses"
      = render :partial => '/comments/comments', :locals => {:comments => @comments}
      = render :partial => 'comments/comment_form', :locals => {:commentable => @post}

.yui-b.box-c-post-show-sidebar
  = render :partial => 'author_profile', :locals => {:user => @post.user}
  = render :partial => 'company_profile', :locals => {:company => Company.for_post(@post)}
  = render :partial => 'participating_representatives', :locals => {:representatives => Representative.participating_in(@post)}
/ sidebar

%script{:type=>"text/javascript", :charset=>"utf-8"}
  = remote_function :url => {:controller => 'posts', :action => 'update_views', :user_id => @post.user, :id => @post}, :method => :put
