.yui-b
  = render :partial => 'author_profile', :locals => {:user => @user}

  - unless @popular_posts.empty?
    -box :id => "posts", :class => 'alt' do
      %h3=:popular_posts.l
      %ul.list.page
        - @popular_posts.each do |post|
          %li= link_to truncate(post.title, :length => 75), post_path(post)

#yui-main
  .yui-b
    -box :class => "posts hfeed" do 
      %h3
        = link_to :users_blog.l(:user => h(@user)), user_posts_path(@user)
        = @category ? "&raquo; " + link_to(@category.name.upcase, users_posts_in_category_path(@user, @category.name)) : ''
      %br

      = render :partial => 'post', :collection => @posts
      .pagination= will_paginate @posts
